.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form-content{
    max-width: 396px;
}
.form-content label{
    margin-top: 20px;
    margin-left: 5px;
}
#email, #password, #password2, #name, #lastName, #contact, #address{
    padding: 10px ;
    border: 2px solid #FF4679 ;
    border-radius: 8px;
    width: 100%;
}
.error-msg{
    color: red;
    font-style: italic;
    margin-left: 5px;
    margin-bottom: 0;
}
.pass-positioning{
    position: relative;
    width: 396px;
}
#eye-img{
    position: absolute;
    top: 39px;
    right:  10px;
}
.forgot-pass{
    text-align: end;
    margin-bottom: 30px;
}
.forgot-pass a{
    color: #FF4679;
}
.button{
    background-color: #FF4679;
    border: none;
    border-radius: 110px;
    color:#FFFFFF;
    margin-top: 10px;
    padding: 10px;
    width: 211px;
}
.logo-img{
    width: 310.75px;
}
.slogan{
    color: #DE1252;
    margin-top: 20px;
    margin-bottom: 50px;
}
.new-account{
    margin-top: 40px;
}
.new-account a{
    text-decoration: none;
    color: #FF4679;
}
#hr{
    color: #FF4679;
    border-top: 2px solid;
}
.login-alternatives img{
    margin-inline: 20px;
}
