@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

:root {

  /* colores */
  --titulo: Roboto, sans-serif;
  --background-nav: #de1252;
  --textNav: #ffff;
  --botonCheck: #6750a4;
  --textosColor: #000000;
  --textosColor2: #b3b3b3;
  --textColor3: #736868;
  --yellowContenedor: #fff5f8;
  --lineas: rgba(222, 18, 82, 0.23);
}