.contieneWatsapp {
  width: 100%;
  height: auto;
  display: grid;
  place-content: center;
  background-color: white;

  & .buttonWatsapp {
    width: 290px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
    gap: 10px;
    font-size: 1rem;
    background-color: white;
    color: var(--background-nav);
    transition: all .4s ease-in;

    & ion-icon {
      font-size: 1.2rem;
      color: var(--background-nav);
    }

    & .spanWatsapp {
      font-size: 16px;
      color: var(--background-nav);
      text-decoration: none;
      padding: 0;
      margin: 0;
    }

    &:hover {
      font-size: 1.2rem;
      color: var(--botonChec);

      & ion-icon {
        font-size: 1.5rem;
        color: var(--botonChec);
      }

      & .spanWatsapp {
        font-size: 1.2rem;
        color: var(--botonChec);
      }
    }
  }
}