@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500&display=swap');


    display: inline-block;
    height: 245px;
    width: 170px;
    box-shadow: 2.4546139240264893px 2.4546139240264893px 7.363841533660889px 0px rgba(0, 0, 0, 0.25);
    border-radius: 2.455px;


.img-container {
    display: flex;
    height: 170px;
    width: 170px;
    overflow: hidden;
    align-items: center;


.card-img-top {
    /* aspect-ratio: 2 / 2; */
    height: 160px;
    object-fit: contain;


.card-grid {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 5px;
    height: 75px;
    width: 160px;
    overflow: hidden;
    padding: 5px;
}

.text-card {
    color: #000;
    font-family: Work Sans;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 500;
    line-height: 110%;
    margin: 0px;
    height: 40px;
    overflow: hidden;
}

.ubi-text {
    color: #000;
    font-family: Work Sans;
    font-size: 14.728px;
    font-weight: 400;
    font-style: normal;
    line-height: normal;
    margin: 0;
}